body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #EBD1FE;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid red; */
  padding-left: 4em;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid green; */
}