body {
  margin: 0;
  font-family: 'helvetica neue', sans-serif;
}

h1, h3, p {
  margin: .4em 0;
}

h1 {
  font-size: 3.5em;
  font-weight: bold;
  line-height: .9em;
  background-color: #fefefe;
  color: #222222;
  width: 50%;
  /* text-decoration: underline; */
  /* padding: .2em 0; */
}

h3 {
  font-size: 1.5em;
  font-weight: normal;
  margin: 0;
}

p {
  font-size: 1em;
}

span {
  font-weight: bold;
  font-size: 2em;
  color: #222222;
  background-color: #fefefe;
}

button, input[type="text"]:focus, input[type="text"], select {
  outline: none;
  border-style:solid;
  border: none;
  outline: none;
  box-shadow: none;
}

button {
  border: 1px solid #222222;
  border-radius: 2em;
  width: 10em;
  height: 3em;
  margin: 2em 0em;
  font-size: 1em;
  font-weight: 600;
}

button:hover {
  background-color: #222222;
  color: #fefefe;
}

input {
  margin: 1em 0;
  border: 1px solid #222222 !important;
  border-radius: 2em;
  width: 15em;
  height: 3em;
  padding: 0em 1em;
}

input::placeholder {
  padding: 1em;
}

select {
  border: 1px solid #222222 !important;
  background-color: #fefefe;
  width: 15em;
  height: 2.5em;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid red; */
  padding: 0em 8em;
  background-color: #fefefe;
  color: #222222;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: #222222;
  color: #fefefe;
  /* border: 1px solid green; */
}